<nav class="nav-side nav-main">
  <ul class="nav nav-l1">
    <li>
      <a href="/library/">Library</a>
      <ul class="nav nav-l2">

      </ul>
    </li>
    <li>
      <a href="/manage/">Team Management</a>
      <ul class="nav nav-l2">
        <li><a href="/manage/roster/">Roster</a></li>
        <li><a href="/manage/coaches/">Coaches</a></li>
        <li><a href="/manage/schedule/">Schedule</a></li>
        <li><a href="/manage/groups/">Groups</a></li>
      </ul>
    </li>
    <li>
      <a href="/tools/">Coaching Tools</a>
      <ul class="nav nav-l2">
        <li><a href="/tools/reports/">Trends &amp; Reports</a></li>
        <li><a href="/tools/practice-scripts/">Practice Scripts</a></li>
        <li><a href="/tools/playbooks/">Playbooks</a></li>
        <li><a href="/tools/presentations/">Presentations</a></li>
      </ul>
    </li>
  </ul>
</nav>