<nav class="nav-side nav-main">
  <header class="nav-header">
    <small>4-Star - Head Coach</small>
    <h4>Kyle Murphy</h4>
  </header>

  <ul class="nav nav-l1">
    <li>
      <a href="/account/billing/">Billing &amp; Invoices</a>
    </li>
    <li>
      <a href="/account/">Personal Settings</a>
      <ul class="nav nav-l2">
        <li><a href="/account/profile/">Name, Email &amp; Password</a></li>
        <li><a href="/account/rewards/">Rewards</a></li>
        <li><a href="/account/notification-preferences/">Notification Preferences</a></li>
      </ul>
    </li>
    <li>
      <a href="/account/achievements/">Personal Achievements</a>
    </li>    
    <li>
      <a href="/help/">Help</a>
      <ul class="nav nav-l2">
        <li><a href="/help/this-page/">Help with This Page</a></li>
        <li><a href="/help/email/">Send an Email</a></li>
        <li><a href="/help/call/">Have us Call You</a></li>
        <li><a href="/help/remote/">Start a Remote Session</a></li>
      </ul>
    </li>
  </ul>

  <header class="nav-header">
    <small>Hutchinson High School</small>
    <h4>Varsity Football</h4>
  </header>
  <ul class="nav nav-l1">
    <li>
      <a href="/switch-teams/">Switch Teams</a>
      <ul class="nav nav-l2">
        <li><a href="/switch-teams/">Varsity Basketball</a></li>
        <li><a href="/switch-teams/">JV Football</a></li>
      </ul>
    </li>  
    <li><a href="/logout/">Logout</a></li>
  </ul>
</nav>